<h1>Editing expression</h1>

<%= render "form", expression: @expression %>

<br>

<div>
  <%= link_to "Show this expression", @expression %> |
  <%= link_to "Back to expressions", expressions_path %>
</div>
